
*.jpg
*.REMOVE_ME
*.png
*.pyc
*.log
*.json
data/connection_data.xml
src/config/whitelist.txt
src/config/unfollowed.txt
src/config/skipped.txt
src/config/friends.txt
src/config/followed.txt
src/config/comments.txt
src/config/blacklist.txt
examples/config/whitelist.txt
examples/config/unfollowed.txt
examples/config/skipped.txt
examples/config/friends.txt
examples/config/followed.txt
examples/config/comments.txt
examples/config/blacklist.txt
data/last_batch.txt
